.login-page {
    display: flex;
    justify-content: center;
    .container {
        min-width: 287px;
        border-radius: 20px;
        margin: 20px;
        width: 600px;
        height: 500px;
        background: var(--cl-dark-3);
        color: var(--cl-dark-2);
        font-weight: 600;
        padding: 20px;
        .content {
            padding-top: 20px;
            overflow: hidden;
            width: 100%;
            background: white;
            height: 95%;
            text-align: center;
            border-radius: 6px;
        }

        .or-hr {
            user-select: none;
            display: flex;
            align-items: center;
            width: 70%;
            justify-self: center;
            font-size: 15pt;
            font-weight: 400;
        }

        .or-hr::before,
        .or-hr::after {
            content: '';
            min-width: 40px;
            margin: 20px 0;

            border: 1px solid rgba(128, 128, 128, 0.1);
            border-radius: 0;
            flex: 1 1;
        }

        p {
            margin: 20px 0;
            font-size: 15.5pt;
        }

        h2 {
            text-transform: uppercase;
            font-size: 28pt;
            font-weight: 800;

            position: relative;
            display: inline-block;
        }

        h2::before {
            content: '';
            position: absolute;
            left: -10%;
            right: -10%;
            bottom: -5px;
            height: 2px;
            background: currentColor;
        }

        .tel-input-container {
            display: flex;
            border-radius: 50px;
            width: 60%;
            min-width: 175px;
            border: 5px solid rgba(221, 200, 185, 0.1);
            background: #f3f3f3;
            height: 3rem;
            font-size: 20pt;
            align-items: center;
            justify-self: center;

            .country-code {
                font-size: 16px;
                padding: 20px 10px;
            }

            input {
                background: none;
                color: var(--cl-dark-2);
                font-weight: bold;
                width: 80%;
                height: 100%;
                font-size: 18pt;
                border: none;
                outline: none;
            }
            input:focus {
                border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);
            }
        }
    }

    .social-icons {
        display: flex;
        gap: 10%;
        justify-content: center;
        cursor: pointer;
        img {
            width: 50px;
            height: 50px;
        }
    }

    .submit-button {
        width: 200px;
        height: 3rem;
        border-radius: 50px;
        margin-top: 20px;
        border: none;
        cursor: pointer;
        color: white;
        background: var(--cl-dark-3);
        transition: all .5s;
    }
    .submit-button:hover {
        background: var(--cl-dark-2);
    }
}
